#!/bin/bash
set -euo pipefail
export PATH="/usr/local/bin:$PATH"
curl -fsSL https://github.com/topgrade-rs/topgrade/releases/download/v{{ topgrade_version }}/topgrade | sudo tee /usr/local/bin/topgrade
sudo chmod +x /usr/local/bin/topgrade